
/* .aboutus{
    padding: 50px;

    border: solid 2px black;
    background-image: url(../Eproject1/—Pngtree—overlaping\ shapes\ of\ carbon\ fiber_1208086.jpg);
} */
 .heading{
    color: rgb(10, 10, 10); margin-bottom: 20PX; font-family: Impallari Type, Cyreal; width: 100%;text-align: center; font-size: 80px;
 } 
.btn {
    color: bisque; position: absolute; top: 40%; width: 100%;text-align: center; font-size: 18px;
    text-decoration: none;  cursor: pointer;border: none;
    list-style-type: none;
}
.icon{
   
    margin-top: 25px;
}
    .fa {
padding: 30px;

font-size: 30px;

text-align: center;
text-decoration: none;
border-radius: 100%;
margin-left: 15px;

}


.fa:hover {
opacity: 0.7;
}




.fa-facebook {
background: #3B5998;
color: white;

}


.fa-twitter {
background: #55ACEE;
color: white;

}
.fa-linkedin {
background :#0077b5;
color: white;

}
.fa-youtube {
background: #cd201f;
color: white;

}
.fa-instagram {
background: #f46f30;
color: white;

}
