


#A{
    font-weight: 300;
    color: rgb(105, 7, 7);
    font-family: Impallari Type, Cyreal; 
}
#img{
   
    overflow: hidden;
    transform: scale(1);
    transition: 0.2 ease-in-out;
    display: inline-block;
    
}
#img :hover { 
    transform: scale(1.1);
    
    
}
#imgstyle {  
    
    cursor: pointer;

    border-radius: 10px;
    
       
    }

